<div id="map">
<img src="assets/images/brasil.png" usemap="#image-map" width="800" height="600">

<map name="image-map">
    <area target="" alt="" title="Linnnnnnnnnnnnnnnne 1&#10;Linnnnnnnnnnnne 2" href="state/AM" coords="193,145,47" shape="circle">
    <area target="" alt="" title="" href="state/AC"  coords="68,226,17" shape="circle">
    <area target="" alt="" title="" href="state/RO" coords="227,250,32" shape="circle">
    <area target="" alt="" title="" href="state/PA" coords="422,163,60" shape="circle">
    <area target="" alt="" title="" href="state/RR" coords="254,61,27" shape="circle">
    <area target="" alt="" title="" href="state/AP" coords="453,62,29" shape="circle">
    <area target="" alt="" title="" href="state/RS" coords="416,531,33" shape="circle">
    <area target="" alt="" title="" href="state/SC" coords="481,499,23" shape="circle">
    <area target="" alt="" title="" href="state/PR" coords="445,457,29" shape="circle">
    <area target="" alt="" title="" href="state/SP" coords="506,424,26" shape="circle">
    <area target="" alt="" title="" href="state/MS" coords="386,390,37" shape="circle">
    <area target="" alt="" title="" href="state/MG" coords="589,374,40" shape="circle">
    <area target="" alt="" title="" href="state/RJ" coords="649,443,27" shape="circle">
    <area target="" alt="" title="" href="state/ES" coords="694,395,27" shape="circle">
    <area target="" alt="" title="" href="state/GO" coords="473,335,32" shape="circle">
    <area target="" alt="" title="" href="state/DF" coords="549,328,20" shape="circle">
    <area target="" alt="" title="" href="state/MT" coords="369,282,51" shape="circle">
    <area target="" alt="" title="" href="state/TO" coords="521,242,30" shape="circle">
    <area target="" alt="" title="" href="state/BA" coords="641,273,45" shape="circle">
    <area target="" alt="" title="" href="state/MA" coords="582,164,36" shape="circle">
    <area target="" alt="" title="" href="state/PI" coords="623,208,22" shape="circle">
    <area target="" alt="" title="" href="state/CE" coords="693,167,28" shape="circle">
    <area target="" alt="" title="" href="state/RN" coords="754,179,13" shape="circle">
    <area target="" alt="" title="" href="state/PB" coords="767,202,14" shape="circle">
    <area target="" alt="" title="" href="state/PE" coords="721,221,16" shape="circle">
    <area target="" alt="" title="" href="state/AL" coords="777,252,13" shape="circle">
    <area target="" alt="" title="" href="state/SE" coords="753,270,15" shape="circle">
</map>

</div>